/*green 29BF12 / rgba(41, 191, 18, 1);
lime ABFF4F / rgba(171, 255, 79, 1);
blue 08BDBD / rgba(8, 189, 189, 1);
red F21B3F / rgba(242, 27, 63, 1);
orange FF9914 / rgba(255, 153, 20, 1);*/

Page {
	background: linear-gradient(180deg, rgba(41, 191, 18, 1) 0%, rgba(171, 255, 79, 1) 40%, rgba(171, 255, 79, 1) 100%);
	font-family: Dosis, Dosis-Regular;
	background-color: #29bf12;
}
.bottom-bar {
	background-color: #29bf12;
}
.action-bar {
	background-color: #29bf12;
	font-family: YellowSubmarine, YellowSubmarine-Regular;
	color: white;
	font-size: 35;
	text-align: center;
	padding: 10;
}
.card {
	background-color: rgba(255, 254, 249, 1);
	border-color: #f21b3f;
	border-width: 10;
	border-radius: 10;
	margin: 10;
	padding: 10;
	text-align: center;
}

.inner-card {
	border-radius: 5;
	margin: 15;
	padding: 15;
	text-align: center;
	background-color: #08bdbd;
	font-family: Dosis, Dosis-Regular;
	color: white;
	font-size: 20;
	height: 70px;
}

.nav-btn {
	border-radius: 20;
	padding: 10;
	margin: 10;
	background-color: #08bdbd;
}

.colored {
	background-color: #ff9914;
}

.title {
	color: #08bdbd;
	font-size: 25;
	font-weight: bold;
}
.lyric {
	margin-top: 10;
	font-family: Dosis, Dosis-Regular;
	padding-top: 10;
}
